<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.localrag.indexer</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/ankuragarwal/go/src/github.com/ankur22/local-search/run_indexer.sh</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>17</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/ankuragarwal/go/src/github.com/ankur22/local-search/logs/indexer.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/ankuragarwal/go/src/github.com/ankur22/local-search/logs/indexer.error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/ankuragarwal/go/src/github.com/ankur22/local-search</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>
</dict>
</plist>

